<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Daftar Mahasiswa</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h2 class="mt-4">Daftar Mahasiswa</h2>
    <a th:href="@{/tambah}" class="btn btn-primary">Tambah Data</a>
    <table class="table table-bordered mt-3">
        <thead>
        <tr>
            <th>ID</th>
            <th>Nama</th>
            <th>NIM</th>
            <th>Jurusan</th>
            <th>Tanggal Lahir</th>
            <th class="text-center" style="width: 150px;">Aksi</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="mahasiswa : ${mahasiswaList}">
            <td th:text="${mahasiswa.id}">1</td>
            <td th:text="${mahasiswa.nama}">John Doe</td>
            <td th:text="${mahasiswa.nim}">123456</td>
            <td th:text="${mahasiswa.jurusan}">Teknik Informatika</td>
            <td th:text="${mahasiswa.tanggalLahir}">1999-01-01</td>
            <td class="text-center">
                <a th:href="@{/edit/{id}(id=${mahasiswa.id})}" class="btn btn-primary btn-sm">Edit</a>
                <a th:href="@{/hapus/{id}(id=${mahasiswa.id})}" class="btn btn-danger btn-sm">Hapus</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>
